body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F2EED7;
}
#title{
    font-size: 2rem;
    font-weight: bold;
    color: #4F75FF;
}
#number{
    font-size: 1.5rem;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    border: 2px solid ;
    
    height: 2rem;
}

#convert{
    margin-top: 15px;
    font-size: 1.8rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:400px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px hsl(0, 0%, 30%);
    background-color: #BCF2F6;

    margin-top:50px;
    
}
#submit{
    font-size: 1.5rem;
    padding: 5px;
    margin-top: 10px;
    background-color: hsl(0, 100%, 55%);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#submit:hover{
    background-color: hsl(0, 90%, 45%);
}
#submit:active{
    background-color: hsl(0, 100%, 65%);
}
#result{
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width:600px){
    .container{
        width: 90%;
        text-align: center;
    }
}
